
  @import url('https://fonts.googleapis.com/css?family=Nunito');

  .Banner {
    height: 400px;
    background-image: url("../assets/banner.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  .textBannerB {
    margin-top: 70px;
    text-align: right;
    font-family: Nunito;
    font-weight: 600;
    color: $primaryDefault;
  }

  .textBannerY {
    text-align: right;
    font-family: Nunito;
    font-weight: bold;
    color: $accentDefault;
  }

  .Banner-btn {
    bottom: -375px;
    margin-right: 10px;
    position: relative;
  }

