
 @import url('https://fonts.googleapis.com/css?family=Nunito');
 @import "./variables.scss";

.BodyCenter {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-content: center;
    position: relative;
    margin: 150px;
    margin-bottom: 300px
}

.BodyHeading {
    left: 30%;
    right: 30%;
    position: absolute;
    font-style: normal;
    font-family: Nunito;
    font-weight: bold;
    text-align: center;  
    margin-top: 40px;
}

.BodyContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 50px;  
}
.Content {
    position: relative;
    margin: 10px;
    align-content: center;
    padding: 20px;
    width: 250px;
}

.BenefitText {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $primaryDefault;
    text-align: center; 
    position: absolute;
    bottom: 0px;
    left: 20%;   
}

.BodyTitle {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: $lightBlack;
}


.BodyText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: $lightBlack;
}

.btn-body {
    position: relative;
    align-self: flex-end;
    width: fit-content; 
}

