@import "./variables.scss";

.Footer {
    background-color: $lightBlack;
    height: 350px;
    padding-left: 10%;
    padding-right: 10%;
}
.Upper {
    display: flex; 
    flex-direction: row;
}

.Lower {
    padding: 30px; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.address {
    padding: 30px; 
    height: 250px;  
    line-height: 10px;
}

.FooterTextG {
    color: $lightGray;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.FooterTextY {
    color: $accentDefault;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.FooterTextW {
    color: $lightWhite;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.FooterTitle {
    color: $accentDefault;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: row;
}

.Center {
    align-self: flex-start;
}

