$primaryDark: #193E74;
$primaryDefault: #234A81;
$primaryLight: #CADFFC;
$accentDefault: #EBA829;
$backgroundLight: #f4f5f4;
$divider: #E2E5E6;
$lightBlack: #2C2828;
$lightGray: #C3CBCD;
$lightWhite: #FFFFFF;

